<h1> <%= @task.title %> </h1>

<p> <%= @task.details %> </p>

<p> <%= link_to "Go back to the list", tasks_path %> </p>
<p> <%= link_to "Edit the item", task_edit_path %> </p>
<p> <%= link_to "Delete #{@task.title}", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete #{@task.title}?"} %> </p>

